[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "luajr"]
	path = luajr
	url = https://github.com/nicholasdavies/luajr
[submodule "overshiny"]
	path = overshiny
	url = https://github.com/nicholasdavies/overshiny
